# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.Python

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
